@font-face {
	font-family: "Rounded Elegance";
	src: url("./assets/fonts/rounded-elegance.woff") format("woff");
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
header {
	display: flex;
	flex-direction: column;
}
header a {
	text-decoration: none;
	color: inherit;
}
header * {
	margin: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
header nav {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: black;
}
header nav ul {
	display: flex;
	list-style: none;
	align-items: center;
}
header nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
header nav ul li:last-child {
	margin-left: auto;
}
#header-title {
	font-size: 3.5em;
	max-height: 163px;
	font-family: "Rounded Elegance";
	color: white;
	text-transform: uppercase;
	display: flex;
	padding-top: 44px;
	padding-bottom: 47px;
	background-color: #3399cc;
	align-items: center;
	align-content: center;
}
main {
	margin: 0;
	padding-top: 2em;
	padding-left: 4em;
	padding-right: 4em;
}
main > h1 {
	font-size: 1.5em;
	margin-top: 47px;
}
#news {
	border: solid 1px;
	display: inline-flex;
	flex-direction: column;
}
#news > * {
	margin: 0;
}
#news h1 {
	text-transform: uppercase;
	padding: 14px 16px 4px 16px;
}
#news ul {
	list-style: none;
	padding-bottom: 1em;
	padding-right: 2em;
	padding-left: 28px;
}
#news ul li::before {
	content: "-";
	margin-right: 1em;
}
#news ul li {
	line-height: 2em;
}
